%h1.leaderboard
  Leaderboard
%table.table.table-striped.table-bordered
  %tr
    %th.rank-header="Rank"
    %th.name-header="Name"
    %th.score-header="Score"
  - rank = 1
  - previous_score = nil
  - @leaders.each do |row|
    - rank = calculate_rank(previous_score, row[2], rank)
    = render partial: 'leader', locals: {leader: row, rank: rank}
    - previous_score = row[2]
