%h2
  Forgot your password?

= form_tag(passwords_email_password_reset_path, method: :post ) do
  .email
    = label_tag 'Email'
    = email_field_tag :email

  .submit
    = submit_tag "Send me reset password instructions"
