%h1='Matches'

- @matches.each do |match|
  .match
    .location
      = match.venue.name
    .kickoff
      = match.kickoff
    - if match.first_team.blank?
      Undecided
    - else
      %span.team1
        = match.first_team.name

    vs.

    - if match.second_team.blank?
      Undecided
    - else
      %span.team2
      = match.second_team.name
