.navbar-brand {
  padding: 5px;
  span {
    color: #ddd;
    font-size: 23px;
    letter-spacing: -2px;
  }
}

.content {
  margin: 15px;
}

.kickoff, .location {
  margin: 10px 0;
}

.location {
  text-align: right;
}

.tip input[type=radio] {
  display: none;
}

/* Media queries */
@media (max-width: 767px) { 
  html body.tipping div.content .verbose {
    display: none;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  html body.tipping div.content .curt {
    display: none;
  }
}


.tip-btn {
  display: inline-block;
  border: 1px solid #ddd;
  padding: 5px;
}

.vs {
  display: inline;
}

/* override bootstrap */
.tipping {
  font-family: 'Arimo', sans-serif;
  .navbar-inverse .navbar-nav>li>a {
    color: #ddd;
  }
  .btn-primary {
    background-color: #8A928F;
    border-color: #7A827F;
    &:hover {
      background-color: #7A807E;
    }
    &.active:hover {
      background-color: #2A669B;
    }
  }
  .draw {
    padding: 12px;
    height: 46px;
  }
}

.loading {
  position: absolute;
  height: 100%;
  width: 90%;
  background: asset-url('loading.gif') no-repeat center center;
  background-color: rgba(255,255,255,0.7);
}
