.navbar-brand {
  padding: 5px;
  span {
    color: #ddd;
    font-size: 23px;
    letter-spacing: -2px;
  }
}

.content {
  margin: 15px;
}

.kickoff, .location {
  margin: 10px 0;
}

.location {
  text-align: right;
}

.tip input[type=radio] {
  display: none;
}

/* Media queries */
@media (max-width: 767px) { 
  html body.tipping div.content .verbose {
    display: none;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  html body.tipping div.content .curt {
    display: none;
  }
}


.tip-btn {
  display: inline-block;
  border: 1px solid #ddd;
  padding: 5px;
}

.flag, .draw-icon, .vs {
  display: inline;
}

/* override bootstrap */
.tipping {
  font-family: 'Arimo', sans-serif;
  .navbar-inverse .navbar-nav>li>a {
    color: #ddd;
  }
  .btn-primary {
    background-color: #8A928F;
    border-color: #7A827F;
  }
  .draw {
    padding: 12px;
    height: 46px;
  }
}
