.logo {
  img {
    height: 64px;
    width: 90px;
  }
  .name {
    font-family: 'Oswald', 'sans-serif';
    font-size: 30px;
    color: #191;
    vertical-align: middle;
  }
}

.login {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px 10px 0 0;
}
