- match = tip.match
.tip.row
  .kickoff.col-xs-6
    = match.kickoff.strftime('%a %d %b, %H:%M')
  .location.col-xs-6
    = match.venue.city
  - if can_tip?(match)
    = render partial: 'tip_form', locals: {tip: tip, match: match}
  - else
    = render partial: 'tip_item', locals: {tip: tip, match: match}
