%h1='Matches'

.tip-container.container-fluid
  - current_stage = nil
  - @tips.each do |tip|
    - if current_stage != tip.match.stage
      - current_stage = tip.match.stage
      .stage=stage(tip.match.stage)
    = render partial: 'tip', locals: {tip: tip}

:javascript
  $(function() {
    configure_tips();
  });
