.head
  .logo
    = image_tag 'logo.png'
    %span.name
      Tipping 2014

.login
  - if current_user
    = button_to 'Logout', destroy_user_session_path, method: :delete
  - else
    = link_to 'Login', new_user_session_path

